<div class="container row">
  <div class="project-title">
    <h1>Insta<b>show</b></h1>
  </div>

  <div class="jumbotron welcome-container">
    <div class="subtext">
      You must first login with Instagram to see your pictures!
      <br>
      <br>
      <a href="/oauth/connect">Connect with Instagram</a>
    </div>

  </div>
</div>