<div class="container row">
  <div class="project-title">
    <h1>Insta<b>show</b></h1>
  </div>

  <div class="jumbotron welcome-container">
    <div class="subtext">
      Insta<b>show</b> is a web application that lets you see your Instagram pics... outside of Instagram!
      <br>
      <br>
      Way better, isn't it?
      <br>
      <br>
      <a href="/oauth/connect">Connect with Instagram</a>
    </div>

  </div>
</div>