@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: #0077b3;
$secondary-color: #00aaff;
$main-font: 'Nunito', sans-serif;

body {
  padding-top: 60px;
  font-family: $main-font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
}

h3 {
  font-size: 1em; 
  color: #777;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.subtext {
  font-size: 1.2em;
  font-weight: normal;
  color: #777;
}

.row {
  margin-top: 15px;
}

.picture-title {
  h1 {
    font-size: 48px;
    color: $main-color;
    padding-left: 30px;
    transform: translate(-60%, -50%);
    position: absolute;
    top: 1%;
    left: 50%;
  }
}

.project-title {
  h1 {
    font-size: 48px;
    color: $main-color;
    padding-left: 30px;
    transform: translate(-60%, -50%);
    position: absolute;
    top: 10%;
    left: 50%;
  }
}

.welcome-container {
  max-width: 750px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.show-pictures {
  margin: 0 auto;
  transform: translate(-60%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

.photo {
  float:left;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: $main-color;
}